<app-users></app-users>
<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" ngModel required minlength="3">
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" ngModel required>
  </div>
  <button>
    Submit
  </button>
</form>


<ul>
  <li *ngFor="let user of users">
    {{ user.name | characterCount | uppercase }}
    <p>
      {{ user.name }}
    </p>
  </li>
</ul> -->

<!-- <div [appHeaderStyle]="color" borderstyle="red">
  Hello
</div>

<p appHeaderStyle>
  Hi
</p>

<p>
  Another para
</p>

<p>With Pipe - {{title | firstLetter:4}}</p>
<p>Original - {{title}}</p> -->
